In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df=pd.read_csv('iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [8]:
df.groupby(['species'])['sepal_length'].mean()

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [9]:
df.groupby(['species']).mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [10]:
df.groupby(['species']).max()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.8          4.4           1.9          0.6
versicolor           7.0          3.4           5.1          1.8
virginica            7.9          3.8           6.9          2.5

In [11]:
df.groupby(['species']).min()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               4.3          2.3           1.0          0.1
versicolor           4.9          2.0           3.0          1.0
virginica            4.9          2.2           4.5          1.4

In [12]:
df.groupby(['species']).std()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          0.352490     0.381024      0.173511     0.107210
versicolor      0.516171     0.313798      0.469911     0.197753
virginica       0.635880     0.322497      0.551895     0.274650

In [14]:
df.groupby(['species'])['sepal_length'].quantile(0.25)

species
setosa        4.800
versicolor    5.600
virginica     6.225
Name: sepal_length, dtype: float64

In [15]:
df.groupby(['species'])['sepal_width'].quantile(0.25)

species
setosa        3.125
versicolor    2.525
virginica     2.800
Name: sepal_width, dtype: float64

In [16]:
df.groupby(['species'])['petal_length'].quantile(0.25)

species
setosa        1.4
versicolor    4.0
virginica     5.1
Name: petal_length, dtype: float64

In [17]:
df.groupby(['species'])['petal_width'].quantile(0.25)

species
setosa        0.2
versicolor    1.2
virginica     1.8
Name: petal_width, dtype: float64